<div class="others-section">
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="home-inner">
                        <!-- about-wrapper -->
                        <div class="set-wrapper">
                            <header class="header-title">
                                <h1>About Me <small>About Me</small></h1>
                                <h5>A Passionate Programmer.</h5>
                            </header>
                            <article class="who-iam">
                                <div class="row temp-tost">
                                    <div class="col-md-6 col-sm-12 col-xs-12 pr-none">
                                        <div class="who-left">
                                            <img src="images/tusar.jpg" alt="about-me">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-xs-12 pl-none">
                                        <div class="who-right">
                                            <h2 class="title">Hi There!</h2>
                                            <p>I am Shariful Alam "Tusar". Since 2016-Present, I have been working on web technologies. In this period of time, I have build a huge number of websites. I am a full stack developer expert in front-end and backend. I usually make web application for small and medium business. To disscuss about your business or ideas and further more feel free to <a href="#contact">contact me</a>.</p>
                                            <h1 class="bg-information white-c"><strong>MY STORY</strong></h1>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="testimonial-skills">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12 col-xs-12 pr-none hidden-all">
                                        <div class="testimonial around-bd minus-m-r">
                                            <h2 class="title">Quotes</h2>
                                            <div id="owl-example" class="owl-carousel">
                                                <div class="item">
                                                    <div class="message-pane">
                                                        <div class="message-letter">
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, expedita.</p>
                                                        </div>
                                                        <div id="customNav" class="message-vendor">
                                                            <div class="image-client">
                                                                <img class="img-circle" src="images/2.jpg" alt="2">
                                                                <span class="title-tob">
                                                                    <h5 class="name-tem">Joel Pimenta</h5>
                                                                    <p>App Development</p>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="message-pane">
                                                        <div class="message-letter">
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, expedita.</p>
                                                        </div>
                                                        <div id="customNav" class="message-vendor">
                                                            <div class="image-client">
                                                                <img class="img-circle" src="images/2.jpg" alt="2">
                                                                <span class="title-tob">
                                                                    <h5 class="name-tem">Amy Johnson</h5>
                                                                    <p>Java Developer</p>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h1 class="bg-information fade-c"><strong>REVIEWS</strong></h1>
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-12 col-sm-12 col-xs-12 pl-none"> -->
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="skills around-bd">
                                            <h2 class="title">MY SKILLS</h2>
                                            <div class="progress-area">
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100" >
                                                        <span class="text-tip">html5</span>
                                                        <span  class="popOver" data-toggle="tooltip" data-placement="top" title="98%"></span>
                                                    </div>
                                                </div>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" >
                                                        <span class="text-tip">css3 | Sass/Less</span>
                                                        <span  class="popOver" data-toggle="tooltip" data-placement="top" title="95%"></span> 
                                                    </div>
                                                </div>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" >
                                                        <span class="text-tip">Bootstrap</span>
                                                        <span  class="popOver" data-toggle="tooltip" data-placement="top" title="100%"></span> 
                                                    </div>
                                                </div>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100" >
                                                        <span class="text-tip">javascript</span>
                                                        <span  class="popOver" data-toggle="tooltip" data-placement="top" title="82%"></span> 
                                                    </div>
                                                </div>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" >
                                                        <span class="text-tip">Angular 2 ...</span>
                                                        <span  class="popOver" data-toggle="tooltip" data-placement="top" title="75%"></span> 
                                                    </div>
                                                </div>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" >
                                                        <span class="text-tip">PHP</span>
                                                        <span  class="popOver" data-toggle="tooltip" data-placement="top" title="80%"></span>
                                                    </div>
                                                </div>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" >
                                                        <span class="text-tip">wordpress</span>
                                                        <span  class="popOver" data-toggle="tooltip" data-placement="top" title="85%"></span> 
                                                    </div>
                                                </div>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" >
                                                        <span class="text-tip">Python</span>
                                                        <span  class="popOver" data-toggle="tooltip" data-placement="top" title="60%"></span>
                                                    </div>
                                                </div>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" >
                                                        <span class="text-tip">C/C++</span>
                                                        <span  class="popOver" data-toggle="tooltip" data-placement="top" title="55%"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <h1 class="bg-information fade-c"><strong>MY SKILLS</strong></h1>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="fourpart-rating">
                                <div class="row">
                                    <div class="col-md-3 col-sm-6 col-xs-12 pr-none">
                                        <div class="single-part-achivement around-bd">
                                            <i class="pe-7s-smile"></i>
                                            <h6 class="name-achivement">Happy Clients</h6>
                                            <span class="count" id="count1">Adding Soon</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12 pl-none pr-none minus-m-l">
                                        <div class="single-part-achivement around-bd">
                                            <i class="pe-7s-alarm"></i>
                                            <h6 class="name-achivement">Working Hours</h6>
                                            <span class="count" id="count2">Adding Soon</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12 pl-none pr-none minus-m-l">
                                        <div class="single-part-achivement around-bd">
                                            <i class="pe-7s-coffee"></i>
                                            <h6 class="name-achivement">Coffe Consumed</h6>
                                            <span class="count" id="count3">Adding Soon</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12 pl-none minus-m-l">
                                        <div class="single-part-achivement around-bd">
                                            <i class="pe-7s-like2"></i>
                                            <h6 class="name-achivement">Stack Problems</h6>
                                            <span class="count" id="count4">Adding Soon</span>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="education-jobs">
                                <h2 class="title">Education &amp; Jobs</h2>
                                <ul id="tree-prgress">
                                    <li class="bar"></li>
                                    <li>
                                        <div class="left-date">
                                            <div class="tl-date">
                                                <span class="area-date">01/02/16 - 18/10/17</span>
                                                <span class="year-date">2016 - 2017</span>
                                            </div>
                                        </div>
                                        <div class="right-memo">
                                            <span class="bar-icon"><i class="fa fa-bank"></i></span>
                                            <h6>FRONT-END DEVELOPER</h6>
                                            <p>Developed a good number of web based applications with kuthidevs team, technically using some modern technology.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="left-date">
                                            <div class="tl-date">
                                                <span class="area-date">01/01 - <span class="poko">XX</span>/<span class="poko">XX</span>/19</span>
                                                <span class="year-date">2017 - Present</span>
                                            </div>
                                        </div>
                                        <div class="right-memo">
                                            <span class="bar-icon"><i class="fa fa-bank"></i></span>
                                            <h6>Full Stack Web Development</h6>
                                            <p>Design and Developed a good huge number of websites with modern web technologies.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="left-date">
                                            <div class="tl-date">
                                                <span class="area-date">01/08/16 - <span class="poko">XX</span>/<span class="poko">XX</span>/19</span>
                                                <span class="year-date">2016 - Present</span>
                                            </div>
                                        </div>
                                        <div class="right-memo">
                                            <span class="bar-icon"><i class="fa fa-bank"></i></span>
                                            <h6>WORDPRESS DEVELOPER</h6>
                                            <p>Developed a good number of websites with PHP(WORDPRESS CMS).</p>
                                        </div>
                                    </li>
                                </ul>
                            </article>
                        </div> <!-- about-wrapper -->
                    </div>
                </div>
                <!-- From 2014-Present, I have develop a huge number of website. I am passionate full stack developer(frontend/backend). I usually make websites/applications for small and medium businesses. --> 
            </div>
        </div>
    </div>
</div>