<div class="others-section">
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="home-inner">
                        <!-- set-wrapper -->
                        <div class="set-wrapper">
                            <header class="header-title">
                                <h1>Contact Me <small>Contact Me</small></h1>
                                <h5>Get in touch</h5>
                                <!-- <label>
                                    <input type="checkbox" name="check">
                                    <span class="label-text">Input</span>
                                </label> -->
                            </header>
                            <!-- Contact Area -->
                            <div class="row parent-box">
                                <div class="col-md-6 col-sm-12 col-xs-12 child-box child-box-map">
                                    <div class="address-panel">
                                        <h4>GET IN TOUCH</h4>
                                        <!-- <p></p> -->
                                        <div class="features-contact">
                                            <div class="ft-icon pull-left">
                                                <i class="pe-7s-home"></i>
                                            </div>
                                            <div class="ft-text">
                                                <h6>Address</h6>
                                                <p>9/8 Solimulla Road, Mohammadpur, Dhaka</p>
                                            </div>
                                        </div>
                                        <!-- <div class="features-contact">
                                            <div class="ft-icon pull-left">
                                                <i class="pe-7s-call"></i>
                                            </div>
                                            <div class="ft-text">
                                                <h6>Phone</h6>
                                                <p>(+880) 1792-772218</p>
                                            </div>
                                        </div>
                                        <div class="features-contact">
                                            <div class="ft-icon pull-left">
                                                <i class="pe-7s-global"></i>
                                            </div>
                                            <div class="ft-text">
                                                <h6>Skype</h6>
                                                <p>live: info.sharifulalam</p>
                                            </div>
                                        </div> -->
                                        <div class="features-contact">
                                            <div class="ft-icon pull-left">
                                                <i class="fa fa-facebook"></i>
                                            </div>
                                            <div class="ft-text">
                                                <h6>Facebook</h6>
                                                <p>info.sharifulalam@gmail.com</p>
                                            </div>
                                        </div>
                                        <div class="features-contact">
                                            <div class="ft-icon pull-left">
                                                <i class="pe-7s-global"></i>
                                            </div>
                                            <div class="ft-text">
                                                <h6>Website</h6>
                                                <p>https://msharifulalam.github.io/portfolio/</p>
                                            </div>
                                        </div>
                                        <div class="features-contact">
                                            <div class="ft-icon pull-left">
                                                <i class="pe-7s-mail"></i>
                                            </div>
                                            <div class="ft-text">
                                                <h6>Email</h6>
                                                <p>info.sharifulalam@gmail.com</p>
                                                <p>info.tusarnill@gmail.com</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12 child-box child-box-contact">
                                    <div class="form-panel">
                                        <h4>SEND MESSAGE</h4>
                                        <form id="myForm">
                                            <p>
                                                <input type="text" id="toName" name="to_name_value" class="inputField" placeholder="To Name">
                                            </p>
                                            <p>
                                                <input type="text" id="inputName" name="from_name" class="inputField" placeholder="Name">
                                            </p>
                                            <p>
                                                <input type="email" id="inputEmail" name="from_email" class="inputField" placeholder="Email">
                                            </p>
                                            <p>
                                                <textarea type="text" id="inputMessage" name="message_html" class="inputField" placeholder="Message"></textarea>
                                            </p>
                                            <p>
                                                <input type="submit" value="Send Message" class="submitButton">
                                            </p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- Contact Area -->
                        </div>
                        <!-- set-wrapper -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
