<div class="others-section">
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="home-inner">
                        <!-- set-wrapper -->
                        <div class="set-wrapper">
                            <header class="error-title">
                                <h1>404, <small>Not Found!</small></h1>
                                <h5>Go to the <a href="#index">homepage</a></h5>
                                <!-- <label>
                                    <input type="checkbox" name="check">
                                    <span class="label-text">Input</span>
                                </label> -->
                            </header>
                            <!-- Contact Area -->
                        </div>
                        <!-- set-wrapper -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>