<div class="others-section">
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="home-inner">
                        <!-- set-wrapper -->
                        <div class="set-wrapper">
                            <header class="header-title">
                                <h1>My Portfolio <small>My Portfolio</small></h1>
                                <h5>MY BEST WORKS</h5>
                            </header>
                            <article class="mixitup-items">
                                <div class="portfolio-filter-nav text-right">
                                    <div id="collapseFiltr" class="collapsed">
                                        <button class="filter" data-filter="*">All</button>
                                        <button class="filter" data-filter=".category-1">Modern Design</button>
                                    </div>
                                </div>
                                <div class="Mix-Container grid" id="MIXER">
                                    <!-- <div class="grid"> -->
                                        <figure  class="mix category-1 grid-item" data-myorder="2">
                                            <a class="ajax-loader" href="https://mshariful.github.io/portfolio/">
                                                <img alt="" src="img/site1.gif" class="img-responsive">
                                                <div class="mix-caption">
                                                    <h5 class="name">Personal Portfolio</h5>
                                                    <small>Single page web design(Javascript/SCSS).</small>
                                                    <i class="fa fa-long-arrow-right"></i>
                                                </div>   
                                            </a>
                                        </figure>
                                        <figure  class="mix category-2 category-4 grid-item" data-myorder="8">
                                            <a class="ajax-loader" href="https://msharifulalam.github.io/restaurant/">
                                                <img alt="" src="img/site4.gif" class="img-responsive">
                                                <div class="mix-caption">
                                                    <h5 class="name">Restaurant (Wordpress/Bootstrap)</h5>
                                                    <small>Wordpress theme development.</small>
                                                    <i class="fa fa-long-arrow-right"></i>
                                                </div>   
                                            </a>
                                        </figure>
                                        <figure  class="mix category-1 grid-item" data-myorder="1">
                                            <a class="ajax-loader" href="https://msharifulalam.github.io/dashboard/">
                                                <img alt="" src="img/site2.gif" class="img-responsive">
                                                <div class="mix-caption">
                                                    <h5 class="name">Flat Design/Dashboard</h5>
                                                    <small>Bootstrap web design.</small>
                                                    <i class="fa fa-long-arrow-right"></i>
                                                </div>   
                                            </a>
                                        </figure>
                                        <figure  class="mix category-3 grid-item" data-myorder="1">
                                            <a class="ajax-loader" href="https://msharifulalam.github.io/static-theme/">
                                                <img alt="" src="img/site7.gif" class="img-responsive">
                                                <div class="mix-caption">
                                                    <h5 class="name">Landing Page</h5>
                                                    <small>Bootstarp web design.</small>
                                                    <i class="fa fa-long-arrow-right"></i>
                                                </div>   
                                            </a>
                                        </figure>
                                        <figure  class="mix category-3 grid-item" data-myorder="1">
                                            <a class="ajax-loader" href="https://msharifulalam.github.io/cashforcars/">
                                                <img alt="" src="img/site8.gif" class="img-responsive">
                                                <div class="mix-caption">
                                                    <h5 class="name">Cash For Cars</h5>
                                                    <small>Flat web design.</small>
                                                    <i class="fa fa-long-arrow-right"></i>
                                                </div>   
                                            </a>
                                        </figure>
                                        <figure  class="mix category-1 grid-item" data-myorder="4">
                                            <a class="ajax-loader" href="https://msharifulalam.github.io/visual-hierarchy/">
                                                <img alt="" src="img/site6.gif" class="img-responsive">
                                                <div class="mix-caption">
                                                    <h5 class="name">Landing Page</h5>
                                                    <small>Contemporary design.</small>
                                                    <i class="fa fa-long-arrow-right"></i>
                                                </div>   
                                            </a>
                                        </figure>
                                        <figure  class="mix category-3 grid-item" data-myorder="1">
                                            <a class="ajax-loader" href="https://msharifulalam.github.io/social-site/">
                                                <img alt="" src="img/site5.gif" class="img-responsive">
                                                <div class="mix-caption">
                                                    <h5 class="name">Responsive Web Design</h5>
                                                    <small>Social content design.</small>
                                                    <i class="fa fa-long-arrow-right"></i>
                                                </div>   
                                            </a>
                                        </figure>
                                    <!-- </div> -->
                                </div>
                            </article> <!-- mixitup-items -->
                            <div class="load-area">
                                <a href="#portfolio" class="load-more">Adding More Soon</a>
                            </div> <!-- /.load-area -->
                        </div>
                        <!-- set-wrapper -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
